
<div class="bg-image"
     style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCRnDkoNFB4OFH9TF3bkks21TWn-NjBM3R8w&usqp=CAU');
            max-height: 500px">
    <br>
    <div id="Titulosite" style="padding-bottom:50px;margin-bottom: 5px;text-align: center;font-family: Garamond;" >
        <h1 style="	color:honeydew;">Desenvolvedor Back-end</h1>
        <h2 style="	color:honeydew;">em evolução</h2>
    </div><br>
    <div class="text-center">
    <p style="color:rgba(240, 255, 240, 0.877); margin-bottom: 0; font-size: 12px;">Estudante de ADS </p>
    <p style="color:rgba(240, 255, 240, 0.877); margin-bottom: 0; font-size: 12px;">Buscando ingressar no mercado de trabalho </p>
    </div>


    <div style="padding-left: 45%; padding-top: 10px; padding-bottom: 10px;">
        <table style="height: auto;" >
            <tbody>
              <tr>
                <td class="align-top">
                    <a class="nav-link dropdown-item" aria-current="page" target="_blank"
                        href="https://www.linkedin.com/in/marcos-paulo-matos-teodoro-1196a81b0/">
                        <img style="max-width: 25px; height: auto;" border="0"
                        src="vendor/img2/home/icon_linkedin.png">
                    </a>
                </td>
                <td class="align-top">
                    <a class="nav-link dropdown-item" aria-current="page" target="_blank"
                    href="https://github.com/Payaya27">
                        <img style="max-width: 25px; height: auto;" border="0"
                        src="vendor/img2/home/icon_github.png">
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="container" id="divallsite" style="background-color:rgb(250, 250, 250);">
<!--
    <div class="navi" id="nnavcentro">
        <ul class="row">
            <li class="nav-item"><a>PROJETOS</a></li>
            <li class="nav-item"><a>COMPETÊNCIAS</a></li>
            <li class="nav-item"> <a>SOBRE MIM</a></li>
            <li class="nav-item"><a>REDES SOCIAIS</a></li>
        </ul>
    </div>
-->
        <div class="row" style="align-items: center; justify-content: center; ">
            <div class="col">
                <div class="text-center">
                    <h2>Marcos Paulo Matos Teodoro</h2>
                    <h5>Telefone:(71) 992621121 whatsapp</h5>
                    <h5>E-mail:mp.matos25@gmail.com</h5>
                    <h5>Brasileiro, Solteiro, 24 Anos</h5>
                    <h5>Habilitação B e Carro próprio</h5>
                    <hr>
                </div>
                <p class=>Estudante de ADS que se encontrou na progamação sonhando acordado em trabalhar
                    nas grandes empresas com times variados trocando experiência e aproveitando cada oportunidade,
                    <a style="color:rgb(1, 0, 31);" href="sobre.html">ver mais</a>
                </p>
                <br>
            </div>
            <div class="col text-center" >
                <img style="	bottom: 1000px;
                                margin-top: 10px;
                                border-left: 0;
                                margin-left:0;
                                width: 300px;
	                            border-radius: 40%;"
                     src="vendor/img2/home/Marcos01.jpg" id="fotoPerfil">
            </div>
        </div>
        <br><hr><br>

        <div class="col" id="projetos">
            <h2 class="text-center">
                PORTIFÓLIO COM
                <img style="max-width: 80px; height: auto;" border="0"
                src="vendor/img2/home/icon_php.png"></h2>
            <br>
            <ul class="text-center" style="list-style: none;">
                <li>
                    <a href="index.php?$pagina=Cotacao">
                        <img src="vendor/img2/home/Cotacao.jpg" style="width: 300px; height: 175px; margin-bottom:1%;">
                    </a>
                    <a href="index.php?$pagina=Previsao do tempo">
                        <img src="vendor/img2/home/prev_tempo.jpg" style="width: 300px; height: 175px; margin-bottom:1%;">
                    </a>
                    <a href="index.php?$pagina=Login">
                        <img src="vendor/img2/home/login.jpg" style="width: 300px; height: 175px; margin-bottom:1%;">
                    </a>
                    <a href="index.php?$pagina=Recomende">
                        <img src="vendor/img2/home/recomende.jpg" style="width: 300px; height: 175px; margin-bottom:1%;">
                    </a>
                    <a href="index.php?$pagina=Gerador de CPF">
                        <img src="vendor/img2/home/cpf_gera.jpg" style="width: 300px; height: 175px; margin-bottom:1%">
                    </a>
                    <a href="index.php?$pagina=Gerador de CNPJ">
                        <img src="vendor/img2/home/cnpj_gera.jpg" style="width: 300px; height: 175px; margin-bottom:1%;">
                    </a>

                    <a href="index.php?$pagina=Validador de CPF">
                        <img src="vendor/img2/home/cpf_valida.jpg" style="width: 300px; height: 175px; margin-bottom:1%">
                    </a>
                    <a href="index.php?$pagina=Validador de CNPJ">
                        <img src="vendor/img2/home/cnpj_valida.jpg" style="width: 300px; height: 175px; margin-bottom:1%">
                    </a>
                </li>
            </ul>
        </div>

</div>
    <hr><h4 class="text-center">Site em desenvolvimento Deixe seu
        <a href="index.php?$pagina=Feedback" style="color:black">Feedback aqui</a></h4>