<div class="container-fluid"></div>
<h1 class="text-center" id="faixa1">Formação</h1>
<div class="container">
	<div class="row">
<!-- CARDS 1 -->
	<!-- Estacio -->
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<img src="vendor/img2/sobre/Estacio01.jpg" class="card-img-top img-thumbnail">
					<small class="text-center">Fonte: br.estacio Facebook</small>
				</div>
				<div class="card-body">
					<h5 class="card-title">Estácio</h5>
					<p >Estácio: Atualmente cursando Análise e desenvolvimento de sistemas</p>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EstacioM">Saiba mais</button>
			  </div>
			</div>
		</div>
	<!-- Udemy -->
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<img src="vendor/img2/sobre/Udemy01.jpg" class="card-img-top img-thumbnail">
					<small class="text-center">Fonte: br.estacio Facebook</small>
				</div>
				<div class="card-body">
					<h5 class="card-title">Udemy</h5>
					<p class="card-text">
						Web design: Curso concluído em julho de 2021
						(<a target="_blank" href="https://www.udemy.com/certificate/UC-0015e2dc-37ec-4bd2-a242-c3e7a5b3f0f8/"
						>Certificado</a>)
					</p>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UdemyM">Saiba mais</button>
				</div>
			</div>
		</div>
	<!-- IFBA -->
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<img src="vendor/img2/sobre/IFBA.jpg" class="card-img-top img-thumbnail">
					<small class="text-center">Fonte: InstitutoFederaldaBahia facebook</small>
				</div>
				<div class="card-body">
					<h5 class="card-title">IFBA</h5>
					<p class="card-text">
					 Eletrotécnica: Curso concluído no IFBA em setembro de 2016
					</p>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#IFBAM">Saiba mais</button>
			  </div>
			</div>
		</div>
	<!-- Interrogação -->
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<img src="vendor/img2/sobre/Interrogação1.jpg" class="card-img-top img-thumbnail">
					<small class="text-center">Fonte:</small>
				</div>
				<div class="card-body">
					<h5 class="card-title">Em breve PHP</h5>
					<p class="card-text">
					 Conhecimento nunca é demais, me especializarei mais e mais
					</p>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#InterrogaçãoM">Saiba mais</button>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid"></div>
<h1 class="text-center" id="faixa1">Experiências</h1>
<div class="container">
	<div class="row">
<!-- CARDS 2 -->
	<!-- LEDO -->
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<img src="vendor/img2/sobre/Ledo01.jpg" class="card-img-top img-thumbnail">
					<small class="text-center">Fonte: LEDOBrasilOficial Facebook</small>
				</div>
				<div class="card-body">
					<h5 class="card-title">LEDO</h5>
					<p>Estágio em eletrotécnica trabalhando em manutenção e montagem de equipamentos eletro-eletrônicos</p>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LedoM">Saiba mais</button>
			  </div>
			</div>
		</div>
	<!-- ATENTO -->
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<img src="vendor/img2/sobre/Atento01.jpg" class="card-img-top img-thumbnail">
					<small class="text-center">Fonte: AtentoBrasilOficial Facebook</small>
				</div>
				<div class="card-body">
					<h5 class="card-title">ATENTO</h5>
					<p class="card-text">
						Atento: Operador de teleatendimento SAC receptivo voltado para empresas
					</p><br>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ATENTOM">Saiba mais</button>
				</div>
			</div>
		</div>
	<!-- BS Services -->
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<img src="vendor/img2/sobre/BS01.jpg" class="card-img-top img-thumbnail">
					<small class="text-center">Fonte: Site oficial bsservices</small>
				</div>
				<div class="card-body">
					<h5 class="card-title">BS Services</h5>
					<p class="card-text">
					 BS: Operador de teleatendimento Help Desk e SAC receptivo
					</p><br>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BSM">Saiba mais</button>
			  </div>
			</div>
		</div>
	<!-- UBER -->
		<div class="col">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<img src="vendor/img2/sobre/UBER01.jpg" class="card-img-top img-thumbnail">
					<small class="text-center">Fonte: uberbr Facebook</small>
				</div>
				<div class="card-body">
					<h5 class="card-title">UBER</h5>
					<p class="card-text">
					 Uber: Motorista por aplicativo nas horas vagas
					</p><br>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UBERM">Saiba mais</button>
			  </div>
			</div>
		</div>
	</div>
</div>

<!-- MODALS -->
  <!-- MODALS DE CARDS 1 -->
	<!-- MODALS Estácio -->
	<div class="modal fade" id="EstacioM" tabindex="-1" aria-labelledby="ModalEstacioM" aria-hidden="true">
	 	<div class="modal-dialog">
		    <div class="modal-content">
		     	<div class="modal-header">
			        <h2 class="modal-title" id="ModalEstacioM">Universidade Estácio</h2>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		     	</div>
		     	<div class="modal-body">
		     		<h5>Sobre a Estácio</h5>
		     		<p>Com quase cinco décadas e mais de 500 mil alunos, a Estácio é um dos maiores e mais respeitados grupos do setor educacional do Brasil. No ensino presencial, atua em 23 estados e no Distrito Federal, totalizando cerca de 90 Unidades. Já no Ensino a Distância, está em todo o Brasil por meio de mais de 1.000 polos de Ensino Digital.<br><br>
					Suas instituições e cursos são reconhecidos pelo MEC com elevados conceitos de qualidade. Com investimentos em um modelo de ensino nacionalizado, com currículos alinhados às necessidades do mercado de trabalho, e também na tecnologia e inovação como diferenciais para aprimorar o aprendizado.</p><hr>
					<h5>Sobre minha experiência</h5>
					<p>Cursando Análise e desenvolvimento de sistemas na Estácio campus paralela desde 11/2020 com previsão de término em 06/2023, atualmente no 3º semestre, 		adquirindo habilidades em Javascript, PHP, HTML, CSS, C e Python<hr></p>
					<small>REFERÊNCIAS:<BR>Imagem disponivel em: <a target="_blank" href="https://www.facebook.com/br.estacio">facebook.com/br.estacio</a>. Acesso em 14 julho 2021<br>
					Texto completo em: <a target="_blank" href="https://portal.estacio.br/quem-somos/historia.aspx">portal.estacio.br/quem-somos/historia.aspx</a></small>

		     	</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <a target="_blank" href="https://estacio.br" class="btn btn-primary">Site da oficial</a>
		     	</div>
		    </div>
	 	</div>
	</div>
	<!-- MODALS Udemy -->
	<div class="modal fade" id="UdemyM" tabindex="-1" aria-labelledby="ModalUdemyM" aria-hidden="true">
	 	<div class="modal-dialog">
		    <div class="modal-content">
		     	<div class="modal-header">
			        <h2 class="modal-title" id="ModalUdemyM">Udemy</h2>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		     	</div>
		     	<div class="modal-body">
		     		<h5>Sobre a Udemy</h5>
		     		<p>A Udemy é uma plataforma de educação à distância (EAD) que oferece mais de 100 mil cursos on-line gratuitos e pagos com certificação. No site, é possível assistir a aulas em diversas áreas como negócios, artes e gastronomia. O site foi criado em 2010 nos Estados Unidos para conectar estudantes e instrutores de diversas áreas de atuação. A ideia dos criadores foi possibilitar a disseminação de conhecimento para pessoas em qualquer lugar do mundo. A empresa utiliza uma plataforma de ensino a distância que disponibiliza cursos em formato de vídeo</p><hr>
		     		<h5>Sobre minha experiência</h5>
		     		<p>Curso concluído de “<strong>Web Design: Construa Sites com PHP, HTML, CSS e JavaScript</strong>” com o objetivo de aprender a construir sites de maneira bastante prática usando as linguagens web mais conceituadas do mercado ministrado pelo professor Diego Mariano que é analista de sistemas, pesquisador e professor de programação, banco de dados e bioinformática.<br>
					Este curso me forneceu habilidades em HTML, PHP, Javascript, CSS, Jquery e Bootstrap</p><hr>
		     		<small>REFERÊNCIAS:<BR>Imagem disponivel em: <a target="_blank" href="https://www.facebook.com/udemy">facebook.com/udemy</a>. Acesso em 14 julho 2021<br>
					Texto completo em: <a target="_blank" href="https://www.techtudo.com.br/listas/2020/06/udemy-e-confiavel-veja-como-funciona-site-para-fazer-cursos-online.ghtml">techtudo.com.br/</a><br>
					Sobre Diego Mariano: <a target="_blank" href="https://diegomariano.com/">diegomariano.com</a></small>

		     	</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <a target="_blank" href="https://www.udemy.com" class="btn btn-primary">Site da oficial</a>
		     	</div>
		    </div>
	 	</div>
	</div>
	<!-- MODALS IFBA -->
	<div class="modal fade" id="IFBAM" tabindex="-1" aria-labelledby="ModalIFBAM" aria-hidden="true">
	 	<div class="modal-dialog">
		    <div class="modal-content">
		     	<div class="modal-header">
			        <h2 class="modal-title" id="ModalIFBAM">IFBA</h2>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		     	</div>
		     	<div class="modal-body">
		       		<h5>Sobre O IFBA</h5>
		     		<p>O IFBA, Instituto Federal de Educação, Ciência e Tecnologia da Bahia (antigo CEFET), é uma instituição pública federal que oferta cursos técnicos profissionais de nível médio e superiores gratuitos em várias cidades da Bahia.<br>
					Os cursos do IFBA são totalmente gratuitos. O único custo é a taxa de inscrição para a realização do processo seletivo, para os cursos das formas integrada e subsequente. </p><hr>
		     		<h5>Sobre minha experiência</h5>
		     		<p>Formado em eletrotécnica no perido de 2012 até 2016 pelo IFBA campus Salvador, porém tive dificuldades de encontrar um trabalho na área com a crise da época até resolver mudar de área para a TI</p><hr>
		     		<small>REFERÊNCIAS:<BR>
		     		Imagem disponivel em : <a target="_blank" href="https://www.facebook.com/InstitutoFederaldaBahia">facebook.com/InstitutoFederaldaBahia</a>. Acesso em 14 julho 2021<br>
		     		Texto completo em: <a target="_blank" href="https://portal.ifba.edu.br/processoseletivo/orientacoes/tire-suas-duvidas/perguntas-frequentes-ifba">portal.ifba.edu.br</a>
		     		</small>

		     	</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <a target="_blank" href="https://portal.ifba.edu.br" class="btn btn-primary">Site da oficial</a>
		     	</div>
		    </div>
	 	</div>
	</div>
	<!-- MODALS Interrogação -->
	<div class="modal fade" id="InterrogaçãoM" tabindex="-1" aria-labelledby="ModalInterrogaçãoM" aria-hidden="true">
	 	<div class="modal-dialog">
		    <div class="modal-content">
		     	<div class="modal-header">
			        <h2 class="modal-title" id="ModalInterrogaçãoM">Qual a próxima?</h2>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		     	</div>
		     	<div class="modal-body">
		       		<h5>Sobre a</h5>
		     		<p></p><hr>
		     		<h5>Sobre minha experiência</h5>
		     		<p></p><hr>
		     		<small>REFERÊNCIAS:<BR></small>
		       		<small>Imagem disponivel em : <>. Acesso em 14 julho 2021</small>
		     	</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <a target="_blank" href="#" class="btn btn-primary">Site da oficial</a>
		     	</div>
		    </div>
	 	</div>
	</div>

  <!-- MODALS DE CARDS  -->
	<!-- MODALS Ledo -->
	<div class="modal fade" id="LedoM" tabindex="-1" aria-labelledby="ModalLedoM" aria-hidden="true">
	 	<div class="modal-dialog">
		    <div class="modal-content">
		     	<div class="modal-header">
			        <h2 class="modal-title" id="ModalLedoM">Ledo Brasil</h2>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		     	</div>
		     	<div class="modal-body">
		       		<h5>Sobre a Ledo</h5>
		     		<p>Uma empresa fornecedora de soluções e produtos de iluminação LED que Desde 2010, busca as principais tendências da iluminação internacional para lançar no mercado brasileiro. Em 2017, com a marca consolidada no segmento de iluminação LED, oferece uma ampla variedade de produtos em LED para atender a crescente demanda em iluminação de grande eficiência e baixo consumo de energia</p><hr>
		     		<h5>Sobre minha experiência</h5>
		     		<p>Estagiei nesta empresa no período de 08/2016 até 06/2017 como estagiário de eletrotécnica com competência de prestar montagem e manutenção de equipamentos eletroeletrônicos </p><hr>
		     		<small>REFERÊNCIAS:<BR>
		     		Imagem disponivem em: <a target="_blank" href="https://www.facebook.com/LEDOBrasilOficial">facebook.com/LEDOBrasilOficial</a>. Acesso em 14 julho 2021<br>
		     		Texto completo em: <a target="_blank" href="https://www.linkedin.com/company/ledo-brasil/about/">linkedin.com/company/ledo-brasil</a>
		     		</small>
		     	</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <a target="_blank" href="http://ledobrasil.com.br" class="btn btn-primary">Site da oficial</a>
		     	</div>
		    </div>
	 	</div>
	</div>

	<!-- MODALS ATENTO -->
	<div class="modal fade" id="ATENTOM" tabindex="-1" aria-labelledby="ModalATENTOM" aria-hidden="true">
	 	<div class="modal-dialog">
		    <div class="modal-content">
		     	<div class="modal-header">
			        <h2 class="modal-title" id="ModalATENTOM">ATENTO</h2>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		     	</div>
		     	<div class="modal-body">
		       		<h5>Sobre a Atento</h5>
		     		<p>Fundada em 1999 como fornecedora para o Grupo Telefônica e adquirida pela Bain Capital em 2012, a Atento é líder global e a maior empresa de CRM BPO na América Latina. Destaca-se como o principal fornecedor de serviços de gestão do relacionamento com clientes e processos de negócios na América Latina, e hoje é uma das cinco maiores provedores mundiais. Com foco em Pessoas, é a única empresa do segmento reconhecida entre as 25 Melhores Empresas para Trabalhar no mundo, segundo o Instituto Great Place to Work, pelo quarto ano consecutivo. </p><hr>
		     		<h5>Sobre minha experiência</h5>
		     		<p>Trabalhei nesta empresa desde 01/04/2021 até 01/09/2021 como operador de telemarketing ativo e receptivo com competência de recepcionar ligações de clientes do tipo empresas tratando e solucionando suas demandas como operador SAC</p><hr>
		     		<small>REFERÊNCIAS:<BR>
		       		Imagem disponivel em: <a target="_blank" href="https://www.facebook.com/AtentoBrasilOficial">facebook.com/AtentoBrasilOficial</a>. Acesso em 14 julho 2021<br>
		       		Texto completo em: <a target="_blank" href="https://www.infojobs.com.br/atento-brasil">infojobs.com.br/atento-brasil</a>
		       		</small>
		     	</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <a target="_blank" href="https://atento.com/pb" class="btn btn-primary">Site da oficial</a>
		     	</div>
		    </div>
	 	</div>
	</div>

	<!-- MODALS BS Services -->
	<div class="modal fade" id="BSM" tabindex="-1" aria-labelledby="ModalBSM" aria-hidden="true">
	 	<div class="modal-dialog">
		    <div class="modal-content">
		     	<div class="modal-header">
			        <h2 class="modal-title" id="ModalBSM">BS Business Services</h2>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		     	</div>
		     	<div class="modal-body">
		       		<h5>Sobre a BS</h5>
		     		<p>A BS Business Services busca Oferecer aos seus clientes soluções em terceirização e gestão de pessoas. Buscar a excelência como organização através da satisfação dos clientes e da melhoria contínua, prezando sempre os valores éticos. </p><hr>
		     		<h5>Sobre minha experiência</h5>
		     		<p>Trabalhei nesta empresa no período de 21/12/2020 até 05/04/2021 como operador de telemarketing técnico receptivo, com competência de recepcionar ligações de clientes prestando informações como operador SAC e solucionando incidências técnicas como operador Help Desk.</p><hr>
		     		<small>REFERÊNCIAS:<BR>
		       		Imagem disponivel em: <a target="_blank" href="https://www.bsservices.com.br/sempreAtual.html">bsservices.com.br/sempreAtual.html</a>. Acesso em 14 julho 2021<br>
		       		Texto completo em: <a target="_blank" href="https://www.bsservices.com.br/conhecaMais.html">bsservices.com.br/conhecaMais.html</a>
		       		</small>
		     	</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <a target="_blank" href="https://www.bsservices.com.br/sempreAtual.html" class="btn btn-primary">Site da oficial</a>
		     	</div>
		    </div>
	 	</div>
	</div>

	<!-- MODALS UBER -->
	<div class="modal fade" id="UBERM" tabindex="-1" aria-labelledby="ModalUBERM" aria-hidden="true">
	 	<div class="modal-dialog">
		    <div class="modal-content">
		     	<div class="modal-header">
			        <h2 class="modal-title" id="ModalUBERM">UBER</h2>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		     	</div>
		     	<div class="modal-body">
		       		<h5>Sobre a Uber</h5>
		     		<p>A Uber é uma empresa de tecnologia que cria oportunidades ao colocar o mundo em movimento. Encara os desafios mais complexos para ajudar seus parceiros e usuários a se locomover usando uma plataforma integrada de mobilidade presente em mais de 10 mil cidades do planeta. </p><hr>
		     		<h5>Sobre minha experiência</h5>
		     		<p>Rodo uber nas horas vagas para completar a renda e pagar minha faculdade</p><hr>
		     		<small>REFERÊNCIAS:<BR>
		       		Imagem disponivel em: <a target="_blank" href="https://www.facebook.com/uberbr">facebook.com/uberbr</a>. Acesso em 14 julho 2021<br>
		       		Texto completo em: <a target="_blank" href="https://www.uber.com/pt-BR/newsroom/fatos-e-dados-sobre-uber/">htuber.com/pt-BR/newsroom</a>
		       		</small>
		     	</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <a target="_blank" href="https://www.uber.com/br/pt-br" class="btn btn-primary">Site da oficial</a>
		     	</div>
		    </div>
	 	</div>
	</div>
