<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="vendor/bootstrap-5.0.2-dist/css/mystyle.css" rel="stylesheet" type="text/css">
