<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.php?$pagina=Home">Marcos Paulo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.php?$pagina=Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?$pagina=Sobre">Sobre</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Projetos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="index.php?$pagina=Login" title="link_login">Sistema de login</a></li>
                        <li><a class="dropdown-item" href="index.php?$pagina=Cotacao" title="link_login">Cotação</a></li>
                        <li><a class="dropdown-item" href="index.php?$pagina=Previsao do tempo" title="link_login">Previsão do tempo</a></li>
                        <li><a class="dropdown-item" href="index.php?$pagina=Recomende" title="link_agenda">Recomende</a></li>
                        <li><a class="dropdown-item" href="index.php?$pagina=Gerador de CPF" title="link_cpf_gera">Gerador de
                                CPF</a></li>
                        <li><a class="dropdown-item" href="index.php?$pagina=Validador de CPF" title="link_cpf_valida">Validador de
                                CPF</a></li>
                        <li><a class="dropdown-item" href="index.php?$pagina=Gerador de CNPJ" title="link_cnpj_gera">Gerador de
                                CNPJ</a></li>
                        <li><a class="dropdown-item" href="index.php?$pagina=Validador de CNPJ" title="link_cnpj_valida">Validador
                                de CNPJ</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="index.php?$pagina=Home" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Links
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" target="_blank"
                                href="https://www.linkedin.com/in/marcos-paulo-matos-teodoro-1196a81b0/">
                                <img style="max-width: 25px; height: auto;" border="0"
                                    src="vendor/img2/home/icon_linkedin.png"> Linkedin
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" target="_blank" href="https://github.com/Payaya27">
                                <img style="max-width: 25px; height: auto;" border="0"
                                    src="vendor/img2/home/icon_github.png"> Github
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>